<div class="h_centred">
    <table class="even-odd-list">
        <tr>
            <th><span class="sorting[% IF sort_by == 'id' %]_[% sort.lower %][% END %]" id="id">ID</span></th>
            <th><span class="sorting[% IF sort_by == 'name' %]_[% sort.lower %][% END %]" id="name">Имя</span></th>
            <th><span class="sorting[% IF sort_by == 'phone' %]_[% sort.lower %][% END %]" id="phone">Телефон</span></th>
            <th><span class="sorting[% IF sort_by == 'created' %]_[% sort.lower %][% END %]" id="created">Дата добавления<span></th>
        </tr>
        [% FOREACH phone IN phones %]
        <tr>
            <td>[% phone.id %]</td>
            <td>[% phone.name %]</td>
            <td>[% phone.phone %]</td>
            <td>[% phone.created %]</td>
        </tr>
        [% END %]
    </table>
    <div class="pagination">
        [%# INCLUDE pagination.tmpl %]
    </div>
</div>
