* {
    font-family: sans-serif;
}
.content {

}
.h_centred {
    width: 100%;
    height: 100%;
    position: fixed;
    /*top: 0;*/
    left: 0;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    overflow: auto;
}
.even-odd-list {
    width: 640px;
    text-align: center;
    border-collapse: collapse;
}
.even-odd-list th,td {
    padding: 7px;
    border: 1px #A0A0A0 solid;
}
.even-odd-list tr:nth-child(even) { background-color: #E0E0E0; }
.even-odd-list tr:nth-child(odd)  { background-color: #F0F0F0; }
.even-odd-list tr:hover           { background-color: #C0C0C0; }
.even-odd-list tr:nth-child(1)    { background-color: #D0D0D0; }

.search-form {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
}
footer {
    font-size: 11px;
}

.sorting,
.sorting_asc,
.sorting_desc { padding:4px 21px 4px 4px; cursor:pointer; }
.sorting      { background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==) no-repeat center right; }
.sorting_asc  { background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==) no-repeat center right; }
.sorting_desc { background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=) no-repeat center right; }
.sorting_desc:hover,
.sorting:hover { background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==) no-repeat center right; }
.sorting_asc:hover   { background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=) no-repeat center right; }
